/* 全局样式表  */
html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
/* 面包导航 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 15px;
}
/* 面包导航字体颜色 */
/* .el-breadcrumb__inner,.el-breadcrumb__inner {
    color: #fff !important;
} */
/* 卡片视图 */
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
/* 表格 */
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
/* 分页 */
.el-pagination {
    margin-top: 15px;
}
/* 添加分类的级联选择框 */
.el-cascader-panel {
    height: 200px !important;
}
.el-step__title {
    font-size: 12px !important;
}
.ql-editor {
    min-height: 300px;
}
.quill-editor {
    margin-bottom: 10px!important;
}